
PAPERFLOW_DB_HOST=192.168.168.30
PAPERFLOW_DB_PORT=5432
PAPERFLOW_DB_USER=widi_chengyan
PAPERFLOW_DB_PASSWORD=ei$wipxY
PAPERFLOW_DB_NAME=openalex
PAPERFLOW_DB_SCHEMA=widi_chengyan
DATA_ROOT=/data/dataset

VITE_API_BASE_URL=http://localhost:8080


